@import "tailwindcss";

@plugin "tailwind-scrollbar-hide";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

html {
  scroll-behavior: smooth;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


@keyframes ai-glow {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-ai-glow {
  background-size: 300% 300%;
  animation: ai-glow 4s linear infinite;
}

.font-handwriting {
  font-family: cursive 
}

@layer utilities {
  .screen-max-width {
    @apply max-w-[1660px] mx-auto container w-full flex items-center justify-center;
  }

  .screen-width {
    @apply  w-full max-w-5xl mx-auto container;
  }

  .common-padding {
    @apply px-3 sm:px-6 md:px-7 lg:px-10 ;
  }

  .font-color {
    @apply text-[#1E4145]
  }

  .bg-color {
    @apply bg-[#1e4145]
  }

  .contact-form {
    @apply text-[#1E4145] text-start text-sm
  }
}
